@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@600&family=Permanent+Marker&family=Rubik+Distressed&family=Ubuntu&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-thumb {
  background: "#000";
  border-radius: 10px;
}

* {
  font-family: "Ubuntu", sans-serif;
}
